.navbar {
    height: 80px;
    position: sticky !important;
    top: 0px !important;
}

.nav-link.active {
    border-bottom:2px solid #007bff;
}

@media (max-width: 991.98px) {
    .navbar {
        height: auto;
    }
}